http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/donnees-locales/donnees/geo-NA5_B-ENTR_INDIVIDUELLE@GEO2017REE2017/COM-44115.all.all
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      x-gravitee-client-identifier: e9664cbb0d020b2b0acd267fcc98512ec6faeab1faba963d1d5bc3203e4493a4
      content-type: application/json;charset=utf-8
      x-gravitee-transaction-id: 140057bf-7757-4854-8057-bf7757585490
      x-gravitee-request-id: 140057bf-7757-4854-8057-bf7757585490
    body:
      encoding: ''
      file: no
      string: '{"Croisement":{"Filtre":"","JeuDonnees":{"code":"GEO2017REE2017","Libelle":"Répertoire
        des entreprises et des établissements 2017","Annee":2017,"Source":"Demographie
        des entreprises et des établissements"},"Groupe":{"value":"France","code":"F"}},"Zone":[{"codgeo":"44115","nivgeo":"COM","Evenement":[]}],"Variable":[{"code":"ENTR_INDIVIDUELLE","Libelle":"Entreprise
        individuelle","Modalite":[{"code":"ENS","variable":""},{"code":"1","variable":""},{"code":"2","variable":""}]},{"code":"NA5_B","Libelle":"Activité
        économique en 5 postes, nouvelle répartition","Modalite":[{"code":"ENS","variable":""},{"code":"BE","variable":""},{"code":"FZ","variable":""},{"code":"GI","variable":""},{"code":"JN","variable":""},{"code":"PS","variable":""}]}],"Cellule":[{"Zone":{"codgeo":"44115","nivgeo":"COM","Evenement":[]},"Mesure":{"value":"Nombre
        de créations d''entreprises","code":"NBCRENT"},"Modalite":[{"code":"ENS","variable":"NA5_B"},{"code":"ENS","variable":"ENTR_INDIVIDUELLE"}],"Valeur":"21"},{"Zone":{"codgeo":"44115","nivgeo":"COM","Evenement":[]},"Mesure":{"value":"Nombre
        de créations d''entreprises","code":"NBCRENT"},"Modalite":[{"code":"BE","variable":"NA5_B"},{"code":"ENS","variable":"ENTR_INDIVIDUELLE"}],"Valeur":"1"},{"Zone":{"codgeo":"44115","nivgeo":"COM","Evenement":[]},"Mesure":{"value":"Nombre
        de créations d''entreprises","code":"NBCRENT"},"Modalite":[{"code":"FZ","variable":"NA5_B"},{"code":"ENS","variable":"ENTR_INDIVIDUELLE"}],"Valeur":"4"},{"Zone[...]
